{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mt-5 d-flex justify-content-center align-items-center">
  <div class="col-md-6 p-4 w-75 border rounded bg-light">
    <div class="container text-center">
        <H1 class = "text-center">Hello! This is our website created by:</H1>
        <H2 class = "text-center">Aleksander Marquez, Marifer Gomez, Andres Sierra, and Perla Lopez</H2>
        <p class = "text-center fs-4 mt-3">We are a group in our software engineering class, tasked with creating a website</p>
    </div>
    <div class = "container text-center">
        <H1 class = "text-center">About the Members</H1>
        <p class = "text-center fs-5 mt-3">I'm Aleksander Marquez, a senior majoring in Computer Science with hopes of becoming either a database administrator
            or data analyst.
        </p>
        <p class = "text-center fs-5 mt-3">I'm Marifer Gomez, a senior majoring in Computer Science.</p>
        <p class = "text-center fs-5 mt-3">I'm Andres Sierra, a junior majoring in Computer Engineering, I would like to work on a more hardware based job but I also like programming software.</p>
        <p class = "text-center fs-5 mt-3">I'm Perla Lopez,</p>
    </div>
</div>

{%endblock%}
