{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %} 
{% load static %}

<link rel="stylesheet" href="{% static 'tasks.css' %}">

  <div class="container mt-5">
    
    <div class = "card">
      <form method="POST" action="{% url 'manage_tasks' %}" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Task Title</label>
          <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="user" class="form-label">Assign To</label>
          <select id="user" name="user" class="form-control">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-success">Assign Task</button>
      </form>
    </div>

  <form method="GET" action="{% url 'manage_tasks' %}" class="mb-4">
    <div class="input-group mt-4">
      <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Search tasks or users">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>

  <h3 class = "text-white">Task List</h3>
  <ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
      <h5>{{ task.title }}</h5>
      <p>{{ task.description }}</p>
      <p>Assigned to: {{ task.user.username }}</p>
      <p>Status: {{ task.get_status_display }}</p>
      <hr width="100%" size="4">
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}