{% extends 'base.html' %}
{% block content %}
{%include 'homeNavBar.html'%} 

<div class = "col-md-6 offset-md-3">
    <h1 class = "text-center fs-1 mt-3 text-white">Learn About Our Website</h1>

</div>
<div class="row justify-content-evenly mt-5">

  <div class="col-4 border">
    <p class = "text-center text-white">User Experience</p>
    <p class = "text-left text-white">The user will be tasked with completing the tasks given to them. Here are some of their functions:</p>
    <ul>
      <li class = "text-white">View the tasks given to them</li>
      <li class = "text-white">Set the status of a task (not started, in progress, completed)</li>
    </ul>
    <div class="mt-3 text-center">
        <p><a href="/register" class="link-primary">Register here to be a user!</a></p>
    </div>
  </div>

  <div class="col-4 border">
    <p class = "text-center text-white">Admin Experience</p>
    <p class = "text-left text-white">The admin will be able to assign tasks to different users and monitor over them. Here are some of their functions:</p>
    <ul>
      <li class = "text-white">Assign, update, and delete tasks for users</li>
      <li class = "text-white">Filter by different parameters to view the tasks that they need</li>
      <li class = "text-white">Assign deadlines and see what groups of people are working on the same task</li>
     </ul>
     <div class="mt-3 text-center">
        <p><a href="/adminRegister" class="link-primary">Register here to be an Admin!</a></p>
    </div>
  </div>
</div>

{%endblock%}