<br>

<div class="row">

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="total-assignments">
                <div class="card-header">
                    <h5 class="card-title" >Total Assignments</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_assignments}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="total-assignments">
                <div class="card-header">
                    <h5 class="card-title" >Assignments Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center mb-3" id="total-assignments">
                <div class="card-header">
                    <h5 class="card-title" >Assignments Completed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{completed}}</h3>
                </div>
            </div>
        </div>
    </div>

       

    


</div>