{% extends 'base.html' %}
{% block content %}

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 p-4 w-75 border rounded bg-light">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p class = "text-center fw-bold">Task</p>     
            </div>
            <div class="col">
                <p class = "text-center fw-bold">Assigned by</p>    
            </div>
            <div class="col">
                <p class = "text-center fw-bold">Deadline</p>    
            </div>
            <div class="col">
                <p class = "text-center fw-bold">Progress</p>    
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <p class = "text-center">take out the trash</p>     
            </div>
            <div class="col">
                <p class = "text-center">Dad</p>    
            </div>
            <div class="col">
                <p class = "text-center">11/2/2024 11:59PM</p>
            </div>
            <div class="col">
                <select class="progress-select rounded" aria-label="Default select example">
                    <option initial>Pick the Status</option>
                    <option value="uncomplete">Uncomplete</option>
                    <option value="inProgress">In Progress</option>
                    <option value="complete">Complete</option>
                  </select>  
            </div>
        </div>
    </div>
  </div>
</div>

{%endblock%}