{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %} 
{% include 'status.html' %} 
{% load static %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>

                {%for assignment in assignments%}

                <tr>
                    <td>{{assignment.title}}</td>
                    <td>{{assignment.description}}</td>
                    <td>{{assignment.due_date}}</td>
                    <td>{{assignment.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{%url 'update_assignment' assignment.id%}">Update</a></td>
                </tr>

                {% endfor %}
            </table>
        </div>
    </div>

</div>


{%endblock%}